html,body{
    position:relative;
    /*background-color:$darkGray;*/
    background-color:white;
    margin:0!important;
    padding:0!important;
}
body, *{
    box-sizing: border-box!important;
}
*{
    position:relative;
}
