/******************
 *     Colors     *
******************/
// Border and quotation mark background
$mainColor: #780821;

// Quote Background
$subColor: rgb(78,78,78,0.95);

// Quotation mark font color
$quotationMarkFontColor:white;

// Quote font color
$quoteFontColor:white;

/* Quote category */
$quoteCategoryFontColor:#212121;

/***************************
 *     Carousel Style      *
***************************/
$carouselControlFontColor:rgb(255,255,255);

/************************
 *     Quote Style      *
*************************/
/* Quote outer wrapper*/
$quoteOuterWrapperMargin:50px;
$quoteOuterWrapperMaxWidth:620px;

/* Quotation mark */
$quotationMarkOuterSize:30px; // Should be an even integer
$quotationMarkSize:$quotationMarkOuterSize * 0.5;
$quotationMarkBgColor:$mainColor;

/* Quote border */
$borderWidth:4px; // Should be an even integer
$borderColor:$mainColor;
$borderOffsetX: $quotationMarkOuterSize * 1.2;
$borderOffsetY: $quotationMarkOuterSize * 1.3;

/* Quote */
$quoteBgColor:$subColor;
$quotePadding: $borderOffsetX calc( #{$borderOffsetX} + 10px );
$quoteFontSize:1em;
