/******************
 *     Colors     *
******************/
// Border and quotation mark background
$mainColor: #780821;

// Quote Background
$subColor: rgb(78,78,78,0.95);

// Quotation mark font color
$quotationMarkFontColor:white;

// Quote font color
$quoteFontColor:white;

/* Quote category */
$quoteCategoryFontColor:#212121;

/******************
 *     Style      *
******************/
/* Quote outer wrapper*/
$quoteOuterWrapperMargin:50px;
$quoteOuterWrapperMaxWidth:620px;

/* Quotation mark */
$quotationMarkOuterSize:30px; // Should be an even integer
$quotationMarkSize:$quotationMarkOuterSize * 0.5;
$quotationMarkBgColor:$mainColor;

/* Quote border */
$borderWidth:4px; // Should be an even integer
$borderColor:$mainColor;
$borderOffsetX: $quotationMarkOuterSize * 1.2;
$borderOffsetY: $quotationMarkOuterSize * 1.3;

/* Quote */
$quoteBgColor:$subColor;
$quotePadding: $borderOffsetX calc( #{$borderOffsetX} + 10px );
$quoteFontSize:1em;




#quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    #next-quote-btn{
        min-width:180px;
        min-height:35px;

        #next-quote-btn-spinner{
            display:none;
        }

        &:active{
            box-shadow: none!important;
        }
    }
}

.quote-outer-wrapper {
    position: relative;
    max-width:$quoteOuterWrapperMaxWidth;
    width:100%;
    background-color: transparent;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: .4s;
    text-align: center;
    margin:$quoteOuterWrapperMargin 0;
    cursor: default;

    .quotation-mark {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $quotationMarkSize;
        height: $quotationMarkOuterSize;
        width: $quotationMarkOuterSize;
        line-height: $quotationMarkOuterSize !important;
        background-color: $quotationMarkBgColor;
        color: $quotationMarkFontColor;
    }
    .qm-2 {
        position: absolute;
        bottom: -$borderOffsetY;
        right: $borderOffsetX;
        z-index: 1;
    }

    >.quote {
        background-color: $quoteBgColor;
        transition: .4s;
        padding: $quotePadding;

        .qm-1 {
            position: absolute;
            top: 0;
            left: 0;
        }
        div {
            margin:0!important;
            font-size: $quoteFontSize;
            font-weight:bold;
            letter-spacing: 2px;
            color:white;
            transition: height 0.2s linear;
            overflow:hidden;
        }
        div#quote-text {
            visibility:visible;
        }
    }

    div#quote-category{
        position:absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        bottom: -$borderOffsetX;
        right: calc( #{$borderOffsetX} + #{$borderWidth} );
        width:0;
        height: calc( #{$quotationMarkOuterSize} - #{$borderWidth} );
        overflow:hidden;
        padding-right:0;
        transition: all 0.2s linear;
        white-space: nowrap;
        color:$quoteCategoryFontColor;
    }
    &:before, &:after{
        content: "";
        position: absolute;
        top: calc( -#{$borderOffsetY} );
        left: $borderOffsetX;
        width: calc( 100% - #{$borderOffsetX} * 2 );
        height: calc( 100% + #{$borderOffsetY} * 2 );
        background: transparent;
        box-sizing: border-box;
    }
    &:before {
        border-top: $borderWidth solid $borderColor;
        border-left: $borderWidth solid $borderColor;
    }
    &:after {
        border-bottom: $borderWidth solid $borderColor;
        border-right: $borderWidth solid $borderColor;
    }

    &:hover {
        transform: rotateY(-20deg) skewY(3deg);

        .quote {
            transform: rotateY(20deg) skewY(-3deg);
        }
        div#quote-category{
            padding-right: calc( #{$quotationMarkOuterSize} * 1.2 );
            width: calc( 100% - 2 * #{$borderOffsetX} - 2 * #{$borderWidth} );
        }
        .qm-2 {
            &::before{
                content:'\f02b';
            }
        }
    }
}
